## scores

In [4]:
#import icount output group_scores_unique.tsv (see icount_pipeline.ipynb)
data1=read.delim('/workspace/hlaghrissi/Analysis/iClipSeq-nov-2019/G080/icount_output/group/group_scores_unique.tsv')
data2=read.delim('/workspace/hlaghrissi/Analysis/iClipSeq-nov-2019/dPLD/icount_output/group/group_scores_unique.tsv')

In [5]:
data1[is.na(data1)] <- 0
data2[is.na(data2)] <- 0

In [6]:
dim(data1)
head(data1)

[1] 1022256       8

  chrom           position strand name          group_id      score
1 211000022278047 1914     +      not_annotated not_annotated 1
2 211000022278047 1919     +      not_annotated not_annotated 2
3 211000022278047 1928     +      not_annotated not_annotated 1
4 211000022278047 1933     +      not_annotated not_annotated 1
5 211000022278047 1943     +      not_annotated not_annotated 2
6 211000022278047 1948     +      not_annotated not_annotated 1
  score_extended FDR
1 not_calculated 1
2 not_calculated 1
3 not_calculated 1
4 not_calculated 1
5 not_calculated 1
6 not_calculated 1

In [7]:
sigPeaks1=data1[data1$FDR < 0.05, ] 
unsigPeaks1=data1[data1$FDR >= 0.05, ] 
dim(sigPeaks1)
dim(unsigPeaks1)

[1] 316214      8

[1] 706042      8

In [8]:
sigPeaks2=data2[data2$FDR <= 0.05, ] 
unsigPeaks2=data2[data2$FDR > 0.05, ] 
dim(sigPeaks2)
dim(unsigPeaks2)

[1] 521145      8

[1] 1326397       8

In [9]:
head(sigPeaks1)
head(sigPeaks2)

     chrom position strand name   group_id    score score_extended FDR
998  2L    10282    -      l(2)gl FBgn0002121 2     4              0.00603
999  2L    10283    -      l(2)gl FBgn0002121 1     4              0.00603
1000 2L    10285    -      l(2)gl FBgn0002121 1     5              0.00000
1008 2L    10368    -      l(2)gl FBgn0002121 5     7              0.00000
1009 2L    10369    -      l(2)gl FBgn0002121 1     7              0.00000
1010 2L    10370    -      l(2)gl FBgn0002121 1     7              0.00000

     chrom position strand name   group_id    score score_extended FDR
1602 2L    10013    -      l(2)gl FBgn0002121 1     4              0.012649
1603 2L    10014    -      l(2)gl FBgn0002121 1     4              0.012649
1604 2L    10015    -      l(2)gl FBgn0002121 2     4              0.012649
1605 2L    10023    -      l(2)gl FBgn0002121 1     4              0.012649
1606 2L    10024    -      l(2)gl FBgn0002121 2     4              0.012649
1607 2L    10025    -      l(2)gl FBgn0002121 1     4              0.012649

In [10]:
#we keep only rows with score >=5
sigPeaks1=sigPeaks1[sigPeaks1$score>=5,]
sigPeaks2=sigPeaks2[sigPeaks2$score>=5,]

In [11]:
#sum up scores for each gene
data_sum1 <- aggregate(score ~ group_id+name, sigPeaks1, sum)                # Consolidate duplicates
data_sum2 <- aggregate(score ~ group_id+name, sigPeaks2, sum)

In [12]:
#count the number of peaks (defined as the number of rows per gene)
occPeaks_g080=merge(data.frame(table(sigPeaks1$group_id)), data_sum1, by.x='Var1', by.y='group_id')
occPeaks_dpld=merge(data.frame(table(sigPeaks2$group_id)), data_sum2, by.x='Var1', by.y='group_id')

In [13]:
head(occPeaks_g080)

  Var1        Freq name        score
1 FBgn0000024  9   Ace          53
2 FBgn0000028  1   acj6          7
3 FBgn0000036  1   nAChRalpha1   5
4 FBgn0000038  1   nAChRbeta1    5
5 FBgn0000042 54   Act5C       380
6 FBgn0000046 24   Act87E      167